datalist=list()

setwd("C:/Users/psnitu/Desktop/My folder.Nitu/Data/Field/Registration")

for(k in 01:12){
  for (j in 01:31){
    for (i in 00:23){
      
      file = sprintf("2017-%02d-%02d %02d_00_00/Registrations.csv", k, j, i) 
      path = file.path(file)
      if(!file.exists(path)) 
        {
        next
      }
      data = read.table(path, header = F, sep = ",")
      
      datalist[[file]]=data
    }
  }
}
datalist
